[submodule ".registry"]
	path = .registry
	url = https://github.com/ccicb/universe
	branch = HEAD
[submodule "somaticflags"]
	path = somaticflags
	url = https://github.com/CCICB/somaticflags
[submodule "TCGAgistic"]
	path = TCGAgistic
	url = https://github.com/CCICB/TCGAgistic
[submodule "PCAWGmutations"]
	path = PCAWGmutations
	url = https://github.com/CCICB/PCAWGmutations
[submodule "CRUX"]
	path = CRUX
	url = https://github.com/CCICB/CRUX
[submodule "assertions"]
	path = assertions
	url = https://github.com/selkamand/assertions
	registered = false
[submodule "maftools"]
	path = maftools
	url = https://github.com/PoisonAlien/maftools
	branch = 72208f2
	registered = false
[submodule "mutaliskRutils"]
	path = mutaliskRutils
	url = https://github.com/selkamand/mutaliskRutils
	registered = false
[submodule "shinyBS"]
	path = shinyBS
	url = https://github.com/ebailey78/shinyBS
	registered = false
[submodule "utilitybeltassertions"]
	path = utilitybeltassertions
	url = https://github.com/selkamand/utilitybeltassertions
	registered = false
[submodule "utilitybeltfmt"]
	path = utilitybeltfmt
	url = https://github.com/selkamand/utilitybeltfmt
	registered = false
[submodule "utilitybeltgg"]
	path = utilitybeltgg
	url = https://github.com/selkamand/utilitybeltgg
	registered = false
