[submodule ".registry"]
	path = .registry
	url = https://github.com/ccicb/universe
	shallow = true
	branch = HEAD
[submodule "somaticflags"]
	path = somaticflags
	url = https://github.com/CCICB/somaticflags
	shallow = true
	registered = true
[submodule "TCGAgistic"]
	path = TCGAgistic
	url = https://github.com/CCICB/TCGAgistic
	shallow = true
	registered = true
[submodule "PCAWGmutations"]
	path = PCAWGmutations
	url = https://github.com/CCICB/PCAWGmutations
	shallow = true
	registered = true
[submodule "CRUX"]
	path = CRUX
	url = https://github.com/CCICB/CRUX
	shallow = true
	branch = main
	registered = true
